*{
    margin: 0;
    padding: 0;
    color: #777777;
}
body{
    background: #fff;
}
p{
    font-family: "Roboto Slab", serif;
}
h1{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 4em !important;
}
.wrapper{
    overflow: hidden;
}
.header{
    padding: 4% 4% 0;
    min-height: 115px;
}
.logo {
    text-transform: uppercase;
    font-size: 1.5em;
    float: left;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;

}
.fa-leaf{
    color: #ffffff;
    padding: 5px;
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    background-color: #7cc576;
    border-radius: 50px;
}
.top_nav{
    float: right;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
}
.top_nav li{
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    display: inline-block;
    color: #555555;
}
.top_nav a:hover{
    color: #222;
}
.menu_button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    float: right;
    font-size: 23px !important;
}
.top_slider{
    background-size: cover;
    background: url("../img/top_slide_bg.png") center no-repeat;
    height: 500px;
    text-align: center;
}
.top_slider h1{
    margin-top: 50px;
    text-transform: uppercase;
}
.top_slider span{
    font-size: 1.3em;
    color: #cccccc;
    font-family: "Roboto Slab", serif;
}
.green_btn{
    display: inline-block;
    line-height: 4em;
    vertical-align: middle;
    background: #7cc576;
    margin-top: 20px;
    height: 60px;
    width: 200px;
    border-radius: 30px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: all 0.5s ease;
    cursor: pointer;
}
.green_btn:hover{
    background: #fff;
    color: #000000;
    margin-top: 20px;
}
.services{
    text-align: center;
}
.services h2{
    margin-top: 95px;
    text-align: center;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em ;
}
.services span{
    font-family: "Roboto Slab", serif;
    font-size: 1.1em;
}
.services_blocks{
    text-align: center;
    margin-bottom: 30px;
}
.services_blocks h3{
    margin-top: 30px;
    color: #222;
    font-size: 1.8em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.services_blocks img{
    height: 50px;
    display: block;
    margin: auto;
}
.relax_block{
    -webkit-background-size: cover;
    background-size: cover;
    background: url("../img/relax_bg.png") center no-repeat;
    height: 600px;
    padding: 95px 0 0 530px ;
}
.relax_block strong{
    color: #7cc576;
}
.relax_block h2{
    color: #ffffff;
    font-size: 2.7em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.relax_block p{
    margin-top: 50px;
    color: #cccccc;
}




