/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .header{
        min-height: 60px;
        margin: auto;
        padding: 4% 1%;
    }
    .top_nav{
        display: none;
        width: 100%;
        text-align: center;
        font-size: 1em;
        background-color: #e9e9e9;
        border-radius: 20px;
        z-index: 12;
        margin: 10px 0;
    }
    .top_nav>li{
        display: block;
        margin-top: 15px;
    }
    .top_nav>li:last-child{
        margin-bottom: 10px;
    }
    .services_inner_block {
        margin-top: 50px;
    }
    .relax_block{
        background: url("../img/relax_bg_small.png") no-repeat #777;
        padding: 10% 5%;
    }
    .proj_block_left{
        padding-left: 27vw;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .proj_block_left{
        padding-left: 10vw;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .proj_block_left{
        padding-left: 5vw;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

    .top_nav{
        display: inline-block !important;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}