/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .top_nav{
        display: none;
        width: 100%;
        text-align: center;
        font-size: 1em;
        background-color: #e9e9e9;
        border-radius: 20px;
        z-index: 12;
    }
    .top_nav>li{
        display: block;
        margin-top: 15px;
    }
    .top_nav>li:last-child{
        margin-bottom: 10px;
    }
    .inner_block {
        margin-top: 50px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .top_nav{
        display: inline-block !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}