@font-face {
    src: url('../fonts/MyriadPro-Regular.otf');
    font-family: 'MyriadPro_regular';
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h4 {
    font-family: 'Montserrat', sans-serif;

}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: #c7c7c7;
}

.head_plus_block {
    background: url("../img/main_bg.png");
    height: 684px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.header {
    height: 100px;
}

#logo {
    position: relative;
    top: 22%;
}

.nav {
    padding-top: 2%;

}

menu {
    list-style: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-right: solid 1px #d9d9d9;
}

menu li {
    text-decoration: none;
    display: inherit;
    margin-right: 30px;
}

menu a {
    color: #a6a6a6;
    text-decoration: none;
}

menu a:hover {
    color: #ffb812;
}

.head_buttons {
    padding: 0;
    margin-top: 2%;
    height: 20px;
    margin-left: 20px;
}

/*hidden input*/
#search {
    display: none;
    width: 143px;
    border: 2px solid #ffb812;
    border-radius: 2px;
    height: 30px;
}

#search> input[type="text"] {
    position: relative;
    top: -3px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 115px;
    background: #f4f4f4;
}

#search> input[type="submit"] {
    position: relative;
    top: 4px;
    background: url("../img/search.png") center no-repeat #f4f4f4;
    border: none;
    width: 20px;
}

/*Hidden menu*/
.fa-bars {
    font-size: 30px !important;
}
#bars {
    z-index: 999;
    position: fixed;
    top: 20px;
    right: 10px;
}

#drop_menu {
    display: none;
    text-align: center;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 5000;
    height: 100%;
    background: #5e5e5e;
}

.fa-times {
    float: left;
    text-align: left;
    margin: 20px 0 0 10px;
    color: white;
    font-size: 30px !important;
}

#menu_vertical {
    margin: 80px auto 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;

}

#menu_vertical li {
    font-size: 20px;
    margin-top: 10px;
}

#menu_vertical a {
    text-decoration: none;
    color: #a6a6a6;
}

#menu_vertical a:hover {
    color: #ffb812;
}

#search_mob {
    margin: 30px auto 0;
    display: flex;
    width: 143px;
    min-height: 10px;
    border: 2px solid #ffb812;
    border-radius: 2px;
}

#search_mob> input[type="text"] {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 115px;
    vertical-align: middle;
    background: #c9c9c9;
}

#search_mob> input[type="submit"] {
    background: url("../img/search.png") #c9c9c9 center no-repeat;
    position: relative;
    width: 24px;
    height: 25px;
    border: none;
}

#drop_menu > .proceed_button {

    margin: 25px auto;
}

/*--------------------*/
.proceed_button {
    padding-top: 1%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background: #ffb812;
    height: 40px;
    width: 150px;
    margin-left: 30px;
    display: inline-block;
    border-radius: 20px;
}

.proceed_button:hover {
    transition: all 0.3s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.left_cont {
    padding-top: 5%;
}

.left_cont p {
    margin: 60px 0;
}

/*Button check out*/
a.check_out {
    font-family: 'MyriadPro_regular', sans-serif;
    font-weight: bold;
    font-size: 13pt;
    color: #c4c4c4;
    width: 180px;
    display: block;
    text-decoration: none;
    padding: .3em 1em;
    border: 2px solid #ffb812;
    border-radius: 100px;
    outline: none;
    background: transparent;
    overflow: hidden;
    transition: all 0.3s ease;

}

a.check_out:hover {
    background-color: #ffb812;
    color: white;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/**/

.right_cont {
    padding-top: 5%;
}

/*Bottom*/
.bottom {
    margin-top: 150px;
    background: #ffffff;
}

.fa-bott {
    position: relative;
    margin: 20px 20px 0 0;
    font-size: 50px !important;
    color: #FFB812;
    float: left;
}

#brush, #cube {
    padding-top: 40px;
}

.bottom_first p {
    padding-left: 66px;
}

.bottom_second p {
    padding-left: 60px;
}

#cube h4,
#cube p {
    margin-left: 10px !important;
}

.bottom_third {
    margin-top: -20px;
    width: 350px;
}

.bottom_third span,
.bottom_third a {
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.bottom_third a {
    color: #FFB812;
}





